extends ./../layout

block content
  h1 Login
  if message !== undefined
    p(style="color:red;font-style:italic;") #{message}
  div.flexbox.formStyle
    form(action="/login" method="POST")
      p Username
      input(type="text" name="username" required="required")
      p Password
      input(type="text" name="password" required="required")
      br
      br
      input(type="submit" value="Submit")
  div.register
    p Don't have an account yet?
    p
      a(href="/user/register") Register!
  | <style type='text/css'>
  include ./style.css
  | </style>