extends ./../layout

include ./../mixins/listGallery

block content
  if(gallery.length)
    mixin listGallery(gallery, pictures, user)
    | <style type='text/css'>
    include ./style.css
    | </style>