extends ./../layout

block content
  div.flexbox.formStyle
    form(action="/gallery" method="POST" id="form")
      fieldset
        legend Register
        p First Name
          input(type="text" name="firstName")
        p Last Name:
          input(type="text" name="lastName")
        p Username:
          input(type="text" name="username")
        p Password:
          input(type="text" name="password")
        p Email:
          input(type="text" name="password")
        input(type="submit" value="Submit")

  | <style type='text/css'>
  include ./style.css
  | </style>