extends ./../layout

block content
  div.formStyle.flexbox
    form(action="/gallery" method="POST" id="form")
      p Author
      input(type="text" name="author")
      p Link
      input(type="text" name="link")
      p Description
      input(type="text" name="description")
      br
      br
      input(type="submit" value="Submit")
  | <style type='text/css'>
  include ./style.css
  | </style>