extends layout

block content
  h1 This is not the page you are looking for.
  div(class="flexbox" style="justify-content:center")
    img(src="http://www.technocracy.ca/tiki-download_file.php?fileId=313&display")