<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Gallery
  include
  | <style type='text/css'>
  include ./../style.css
  | </style>
body
  include ./header.jade
  div(class="flexbox")
    block content
  include ./footer.jade