extends layout

block content
  div.formStyle.flexboxE
    form(action="/gallery" method="POST" id="form")
      fieldset
        legend New Picture
        p Author:
          input(type="text" name="author")
        p Link:
          input(type="text" name="link")
        p Description:
          input(type="text" name="description")
        input(type="submit" value="Submit")