extends ./../layout

block content
  h1 Register
  div.formStyle.flexbox
    form(method="POST" action="/user/register" id="form")
      p First Name
      input(type="text" name="firstName" required="required")
      p Last Name
      input(type="text" name="lastName" required="required")
      p Username
      input(type="text" name="username" required="required")
      p Password
      input(type="text" name="password" required="required")
      p Email
      input(type="text" name="email" required="required")
      br
      br
      input(type="submit" value="Submit")
  p Already have an account?
  p
    a(href="/user/login") Login!
  | <style type='text/css'>
  include ./style.css
  | </style>
