extends ./../layout

block content
  div.formStyle.flexbox
    form(method="POST" action="/user/register" id="form")
      fieldset
        legend REGISTER
        p First Name:
          input(type="text" name="firstName")
        p Last Name:
          input(type="text" name="lastName")
        p Username:
          input(type="text" name="username")
        p Password:
          input(type="text" name="password")
        p Email:
          input(type="text" name="email")
        input(type="submit" value="Submit")
  p Already have an account?
    a(href="/user/login") Login!
  | <style type='text/css'>
  include ./style.css
  | </style>
