h1 {
  text-align:center;
}
.flexbox {
  display:flex;
  align-content:center;
  justify-content:space-between;
  flex-wrap:wrap;

}
img {
  min-width:300px;
  max-width:300px;
  min-height:300px;
  max-height:300px;
}