extends ./../layout

block content
  div.flexboxE.formStyle
    form(action="/gallery" method="POST" id="form")
      fieldset
        legend New Picture
        p Author:
          input(type="text" name="author")
        p Link:
          input(type="text" name="link")
        p Description:
         textarea(rows="4" cols="50" name="description" form="form")
        input(type="submit" value="Submit")

  | <style type='text/css'>
  include ./style.css
  | </style>