extends ./../layout

block content
  h1 We were unable to perform that operation for you.
  div(class="flexbox")
    img(src="http://memesvault.com/wp-content/uploads/Deal-With-It-Dog-Gif-01.jpg")
  | <style type='text/css'>
  include ./style.css
  | </style>