@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #222233;
  font-family: Oswald, Serif;
}

figure {
  width: 300px;
  height: 200px;
  background: #fff;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #B2FFFF;
}

h2 {
  text-align: center;
  color: #625671;
}

img {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
}

figure:hover+span {
  bottom: 10px;
  opacity: 1;
}

span {
  position: relative;
  bottom: -10px;
  z-index: -1;
  display: block;
  margin: 0;
  padding: 0;
  color: silver;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.description {
  text-align: center;
  width: 50%;
}

.flexbox {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.flexboxE {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.hover figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

.next {
  -webkit-transform: rotate(135deg);
  margin: 50px 20px;
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background: rgb(109, 158, 235);
}

.next:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #222233;
  position: absolute;
  left: 3px;
  top: 3px;
}

.prev {
  -webkit-transform: rotate(315deg);
  margin: 50px 20px;
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background: rgb(109, 158, 235);
}

.prev:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #222233;
  position: absolute;
  left: 3px;
  top: 3px;
}

#footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

#singlePic a {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
